cssselect
DateTime
db-dtypes
folium
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
googlemaps
googletrans
grpc-google-iam-v1
grpcio
grpcio-status
numpy
pandas==1.3.5
Plost
plotly
pydantic
pydeck
scikit-learn
seaborn
statsmodels
streamlit
streamlit-camera-input-live
#streamlit-card
streamlit-elements
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-folium
streamlit-image-coordinates
streamlit-keyup
streamlit-option-menu
streamlit-toggle-switch
streamlit-vertical-slider
style
uvicorn
fastapi
